# Example configuration for git automerge

config_source: origin/main:automerge-config.yaml
push_mode: tag   # or "branch"

staging:
  base: main
  branches:
    - hotfix/*

feature:
  base: main
  branches:
    - feature/*
